.request-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .request-details-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .request-details-content {
    font-size: 16px;
    line-height: 1.6;
  }
  /* App.css */

/* Стилі для кнопки */
.expand-button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.expand-button:hover {
    background-color: #555;
}

.expanded {
    transform: translateY(50%);
}
/* RequestDetails.css */

.request-details-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.request-details-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.request-details-content {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.expand-button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.expand-button:hover {
    background-color: Darkgreen;
}
